@import "tailwindcss";
#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}



.grid {
  color: rgb(164, 162, 162);
}
.domain {
  color: white;
}

button {
  cursor: pointer;
}

.bar1-label {
  fill: white;
  font-size: 12px;
  text-anchor: middle;
}
.chart-area {
  width: 80%;
  height: auto;
  margin-bottom: 20px;
}

.svg-content {
  display: block;
  width: 100%;
  height: auto;
}