:root {
  --bg-color: var(--bg-color); /* Light mode default */
  --text-color: #00000;
  --button-bg: #e2e8f0;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--bg-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark-mode {
  --bg-color: #121212;
  --text-color: #f1f1f1;
  --button-bg: #333333;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}